<div class="body-container">
    @if ((accountService.currentUser$ | async))
    {
        <p-menubar [model]="navItems" />
    }
    <div class="home-container">
        @if (!(accountService.currentUser$ | async))
        {
        <div class="form-container flex flex-column align-items-center p-8">
            <p-card header="Login" subheader="Hello! Lets get started">
                <!-- <p-divider class="divider"></p-divider> -->
                <form class="login-form flex flex-column gap-6 mt-3" [formGroup]="loginForm">
                    <div class="flex flex-column gap-2">
                        <label for="Email">Email</label>
                        <p-iconField iconPosition="right">
                            <p-inputIcon styleClass="pi pi-user" />
                            <input type="email" pInputText class="input-fields" id="email" formControlName="email"/>
                        </p-iconField>
                    </div>
                    <div class="flex flex-column gap-2">
                        <label for="Password">Password</label>
                        <p-password class="input-fields" id="password" [toggleMask]="true" formControlName="password">
                            <ng-template pTemplate="header">
                                <h6>Pick a password</h6>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider />
                                <p class="mt-2">Suggestions</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>At least one lowercase</li>
                                    <li>At least one uppercase</li>
                                    <li>At least one numeric</li>
                                    <li>At least one special character</li>
                                    <li>Minimum 8 characters</li>
                                </ul>
                            </ng-template>
                        </p-password>
                    </div>
                    <p-button label="Login" icon="pi pi-sign-in" iconPos="right" [loading]="loading" class="text-center" size="large" (onClick)="login()" />
                </form>
            </p-card>
        </div>
        }
        @else {
        <h1>Hello {{user.name}}</h1>
        <p-button label="Logout" icon="pi pi-sign-in" iconPos="right" [loading]="loading" (onClick)="logout()" />
        }
        <p-toast />
    </div>
</div>