

/* @import url(https://db.onlinewebfonts.com/c/b21ba61d9223eb35c673041adcb43100?family=BrandonGrotesque-Bold); */
@font-face {
    font-family: BrandonGrotesque-Bold;
    src:url(../public/fonts/Brandon_bld.otf);
}
@font-face {
    font-family: BrandonGrotesque-Black;
    src:url(../public/fonts/Brandon_blk.otf);
}
@font-face {
    font-family: BrandonGrotesque-Light;
    src:url(../public/fonts/Brandon_light.otf);
}
@font-face {
    font-family: BrandonGrotesque-Medium;
    src:url(../public/fonts/Brandon_med.otf);
}
@font-face {
    font-family: BrandonGrotesque-Regular;
    src:url(../public/fonts/Brandon_reg.otf);
}
@font-face {
    font-family: BrandonGrotesque-Thin;
    src:url(../public/fonts/Brandon_thin.otf);
}

*{
    font-family: "BrandonGrotesque-Bold",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    min-height: 100%;
}
.hide{
    display: none !important;
}
body{
    background-color: #EEEEEE;
    height: max-content;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
}

/* Styling the scrollbar */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #a9bdd2d3;
}